.modal {

}
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba( #000000, .5);
}
.window {
	max-width: 600px;
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff;
	height: 200px;
	margin: 100px  auto;
}

.header {
font-size: medium;
}

.body {

}

.footer {

}

.title {

}

.close {

}